@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: white;
  font-family: Lato, sans-serif;
}

@font-face {
  font-family: "NiseSegaSonic";
  src: url("/NiseSegaSonic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bnr-font {
  font-family: "NiseSegaSonic", sans-serif;
}